<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "trello" %></title>

     <%= stylesheet_link_tag    "application" %>
     <%= javascript_include_tag "vendor/modernizr" %>
     <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
     <%= csrf_meta_tags %>
</head>

  <body>

<nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1>
            <%= link_to 'trello', root_path %>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
          <li class="divider"></li>
          <li>
            <%= link_to 'tasks', tasks_path %>
            
          </li>
          <li>
            
            <%= link_to 'New Task', new_task_path %>
          </li>
          <li>
            
            <%= link_to 'users', users_path %>
          </li>
          </ul>

        <!-- Right Nav Section -->
        
      </section>
    </nav>
    <div class="row">
      <div class="columns large-12">
        <br>
        <% flash.each do |type, message| %>
        <div data-alert class="alert-box radius <%= flass_class type %>">
          <%= message %>
          <a href="#" class="close">&times;</a>
        </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
